/*	Google Fonts	*/
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300;400;500;600&family=Tilt+Prism&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
/*	background-color: #f4f4f4;*/
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 370px;
	width: 100%;
	/*background: #fff;*/
	background: #C9D6FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 24px;
	padding: 25px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.image{
	position: relative;
	height: 300px;
	width: 290px;
	border-radius: 50%;
	background: #bdc3c7;
	background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
	background: linear-gradient(to right, #2c3e50, #bdc3c7);
	padding: 4px;
	margin-bottom: 20px;
}

.image .profile-img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 4px solid #fff;
	transition-duration: 1.2s;
	
}

.image .profile-img:hover{
	box-shadow: 0px 0px 15px 8px #8ba4b3;
	cursor: pointer;

	transform: scale(1.06);
}

.profile-card .text-data{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #333;
}

.text-data .name{
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 2px;
	word-spacing: 3px;
}

.text-data .job{
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 5px;
	margin-bottom: 10px;
}

.profile-card .media-buttons{
	display: flex;
	align-items: center;
	margin-top: 17px;

}

.media-buttons .link{
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 20px;
	border-radius: 50%;
	margin: 0 10px;
	background-color: #4070f4;
	text-decoration: none;
	transition-duration: 1.2s;
	margin-bottom: 10px;
}

.media-buttons .link:hover{
	cursor: pointer;
	transform: scale(1.2);
	background-color: #635f5e;
	box-shadow: 0px 0px 10px 4px silver;
}

.profile-card .buttons {
	display: flex;
	align-items: center;
	margin-top: 27px;
}

.buttons .button{
	font-size: 15px;
	font-weight: 400;
	border: none;
	border-radius: 24px;
	margin: 0 10px;
	padding: 9px 23px;
	color: #d4cdcb;
	cursor: pointer;
	display: flex;
	transition-duration: 1.1s;
	background: #2b5876;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.buttons .button:hover {
	transform: scale(0.93);
	background-color: #635f5e;
	box-shadow: 0px 0px 15px 2px #b6cbe3;
}

#dw{
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 2px;
	word-spacing: 3px;
}

.link i{
	font-size: 25px;
	align-content: center;
}

#dwicon{
	font-size: 25px;
	padding-left: -20px;
}